{% extends "master.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                
                <div class="intro-message" id="bam">
                    <h1>Something amzing coming here.</h1>

                    <p class="fadeIn wait-2s">You gonna love it!</p>


                    <!-- <h3>The best company in the world!</h3> -->

                    <hr class="intro-divider fadeIn wait-2s">
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

